*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: rgb(5, 5, 5);
    display: flex;
}
.img-box{ 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.img-box>img{
    width: 100%;
}
.menu{
    background-color: rgb(24, 23, 23);
    width: 60px;
    height: 100vh; 
    padding: 20px; 
    overflow: hidden;
    transition: 0.6s;
    transition-delay: 0.3s;
    transition-duration: 0.5s;
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul>li>a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
}
ul>li>a:hover , .active , .date-info>.box:hover , td:hover{
    background-color: #ffffff55 ;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out>a{
    background-color: red;
}
ul>li>a>i{
    font-size: 30px;
}
.content{
    width: 100%;
}
.title-info{
    background-color: rgb(85, 101, 179);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 10px;
}
.date-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.date-info>.box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1 ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
}
.date-info>.box>i{
    font-size: 40px;
}
.date-info>.box>.date{
    text-align: center;
}
.date-info>.box>.date>span , .revenue>span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}
td , th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
th{
    background-color:#0080ff ;
}
.price , .count{
    padding: 6px;
    border-radius: 6px;
}
.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: black;
}